<nav class="navbar center fixed-bottom bg-light justify-content">
        <div class="container">
            <button routerLink="/productosrecomendados"><img class="img-fluid icono" src="assets/icon5.png"></button>
            <button routerLink="/solicitudes"><img class="img-fluid icono" src="assets/icon6.png"></button>
            <button routerLink="/menu"><img class="img-fluid icono" src="assets/icon7.png"></button>
            <button routerLink="/consultas"><img class="img-fluid icono" src="assets/icon8.png"></button>
            <button routerLink="/perfilInivtado"><img class="img-fluid icono" src="assets/icon9.png"></button>
        </div>
</nav>