<div class="font">
    <div align ="center" class="container-fluid">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h2>Realizar consulta</h2>
            </div>
            <div class="container-fluid">
                <h5>Ingrese la consulta</h5>
            </div>
            <div class="container-fluid">
                <input placeholder="Escribir consulta">
            </div>
            <div>
                <button routerLink="/menu" >Enviar</button>
            </div>
        </div>
    </div>
<div>
<app-nav-bar></app-nav-bar>