<div align ="center" class="container">
    <a class="navbar-brand" routerLink="/portada">
      <img class="img-fluid" src="assets/logo.png">
    </a>
    <div>
        <h1>Bienvenido</h1>
        <h5>Ingresa como</h5>
        <div>
            <button routerLink="/menu">INVITADO</button>
        </div>
        <div>
            <button routerLink="/login" >USUARIO REGISTRADO</button>
        </div>
        <div>
            <a routerLink="/signup" class="register">¿Aún no estás registrado? Hazlo acá</a>
        </div>
    </div>
</div>


