<div class="font">
    <div align ="center" class="container-fluid">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h2>Aun no has iniciado sesión</h2>
            </div>
            <div>
                <h4>Inicia sesión para disfrutar de todos los beneficios de DuoDiän</h4>
            </div>
            <div>
                <button routerLink="/iniciarsesionInvitado" >Iniciar sesión</button>
            </div>
            <div>
                <h4>Registrate si aun no tienes una cuenta</h4>
            </div>
            <div>
                <button routerLink="/registrarInvitado" >Registrarse</button>
            </div>
            <div>
                <h3>.</h3>
            </div>
        </div>
    </div>
<div>
<app-nav-bar></app-nav-bar>