<div class="font">
    <div align ="center" class="container-fluid">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h2>Reclamos</h2>
            </div>
            <div>
                <button routerLink="/realizarReclamo" >Realizar reclamo</button>
            </div>
            <div>
                <button routerLink="/estadoReclamo" >Estado de reclamos</button>
            </div>
            <div>
                <h3>.</h3>
            </div>
        </div>
    </div>
<div>
<app-nav-bar></app-nav-bar>