<div class="font">
    <div align ="center" class="container">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h1>Tarjeta DuoDiän</h1>
                <h4>Tu tarjeta te esta esperando</h4>
            </div>
            <div class="button-top">
                <img class="img-fluid" style="width:45%" src="assets/tarjeta.png">
            </div>
            <div>
                <button>Solicitar Tarjeta</button>
            </div>
            <div>
                <h3>.</h3>
            </div>
        </div>
    </div>
<div>
<app-nav-bar></app-nav-bar>