<div class="font">
    <div align ="center" class="container-fluid">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h4>Para realizar una consulta o reclamo debes Iniciar Sesión</h4>
            </div>
            <div>
                <button routerLink="/iniciarsesionInvitado" >Iniciar sesión</button>
            </div>
            <div>
                <h4>Si no tienes una cuenta registrate</h4>
            </div>
            <div>
                <button routerLink="/registrarInvitado" >Registrarse</button>
            </div>
            <div>
                <h3>.</h3>
            </div>
        </div>
    </div>
<div>
<app-nav-bar></app-nav-bar>