<div align ="center" class="container">
    <a class="navbar-brand" routerLink="/portada">
      <img class="img-fluid" src="assets/logo.png">
    </a>
    <div>
        <h1>Registrate con nosotros</h1>
        <h5>Ingresa tus datos</h5>
        <div>
            <label  class="form-label">
                <input placeholder="Nombre completo" style="width:300px;height:40px;border-radius: 6px;">
            </label>
        </div>
        <div>
            <label  class="form-label" >
                <input placeholder="Rut" style="width:300px;height:40px;border-radius: 6px;">
            </label>
        </div>
        <div>
            <label  class="form-label" >
                <input placeholder="Mail" style="width:300px;height:40px;border-radius: 6px;">
            </label>
        </div>
        <div>
            <label  class="form-label" >
                <input placeholder="Contraseña con 8 caracteres" style="width:300px;height:40px;border-radius: 6px;">
            </label>
        </div>
        <div>
            <label  class="form-label" >
                <input placeholder="Repetir contraseña" style="width:300px;height:40px;border-radius: 6px;">
            </label>
        </div>
        <div>
            <button routerLink="/login" >Registrarme</button>
        </div>
    </div>
</div>