<div class="font">    
    <div align ="center" class="container">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div>
            <h1>Registrate con nosotros</h1>
            <h5>Ingresa tus datos</h5>
            <div>
                <label  class="form-label">
                    <input placeholder="Nombre completo" style="width:300px;height:40px;border-radius: 6px;">
                </label>
            </div>
            <div>
                <label  class="form-label" >
                    <input placeholder="Rut" style="width:300px;height:40px;border-radius: 6px;">
                </label>
            </div>
            <div>
                <label  class="form-label" >
                    <input placeholder="Mail" style="width:300px;height:40px;border-radius: 6px;">
                </label>
            </div>
            <div>
                <label  class="form-label" >
                    <input placeholder="Contraseña con 8 caracteres" style="width:300px;height:40px;border-radius: 6px;">
                </label>
            </div>
            <div>
                <label  class="form-label" >
                    <input placeholder="Repetir contraseña" style="width:300px;height:40px;border-radius: 6px;">
                </label>
            </div>
            <div>
                <button routerLink="/iniciarsesionInvitado" >Registrarme</button>
            </div>
        </div>
    </div>
</div>
<app-nav-bar></app-nav-bar>
