<div class="font">
    <div align ="center" class="container">
        <a class="navbar-brand" routerLink="/portada">
        <img class="img-fluid logo" src="assets/logo1.png">
        </a>
        <div class="menu">
            <div>
                <h1>Bienvenido</h1>
            </div>
            <div class="button-top">
                <button routerLink="/consultas"><img class="img-fluid icono" src="assets/icon1.png">Consultas</button>
                <button routerLink="/alert"><img class="img-fluid icono" src="assets/icon2.png">Reclamos</button>
            </div>
            <div class="button-bottom">
                <button routerLink="/solicitudes"><img class="img-fluid icono" src="assets/icon3.png">Solicitudes</button>
                <button routerLink="/productosrecomendados"><img class="img-fluid icono" src="assets/icon4.png">Productos recomendados</button>
            </div>
        </div>
    </div>
<div>
<div  routerLink="/productosrecomendados"  align="center" class="advert">
    <img  class="img-fluid advert-fix" src="assets/adver.png">
</div>
<app-nav-bar></app-nav-bar>